.weather-container {
	width: 100%;
	padding: 50px 80px;
	display: flex;
	background-color: #14213d;
	gap: 20px;
	font-family: inter;
	color: #ece6e7;
}
.weather-container .left {
	width: 60%;
	padding: 10px;
}
.left .current-weather,
.daily-weather {
	padding: 40px 10px 10px 10px;
	background-color: #0d1628;
	border-radius: 5px 5px 0px 0px;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	position: relative;
}
.current-weather h3,
.astrology h3,
.daily-weather h3,
.hourly-h3 {
	position: absolute;
	top: 10px;
	left: 50%;
	transform: translate(-50%);
	font-size: 16px;
	text-transform: uppercase;
	text-decoration: underline;
	color: rgb(217, 9, 244);
	letter-spacing: 2px;
}
.current-weather > div,
.daily-weather > div {
	flex-grow: 1;
	width: 200px;
	border: 1px solid #14223d;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 5px;
	padding: 5px;
}
.heading {
	width: 100%;
	text-align: center;
	color: rgb(238, 255, 0);
	font-size: 12px;
	text-transform: capitalize;
}
.content {
	width: 100%;
	font-size: 13px;
	display: flex;
	justify-content: center;
	gap: 5px;
	align-items: flex-start;
}
.current-weather > div img,
.daily-weather > div img {
	width: 30px;
}
.mainIcon {
	display: flex;
	justify-content: center;
	align-items: center;
}
.mainIcon img {
	width: 50px !important;
	/* border: 1px solid red; */
}
.mainIcon-location {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.mainIcon-location p:first-child {
	color: #d909f4;
	font-weight: 900;
	text-transform: uppercase;
}
.mainIcon-location p:last-child {
	font-size: 15px;
	height: 30px;
	display: flex;
	align-items: center;
	position: relative;
}
.mainIcon-location p:last-child img {
	position: relative;
	top: 7px;
	left: 5px;
}
/* //////////////////////////////////////////////// */
.weather-container .astrology {
	width: 100%;
	padding: 30px 10px 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	position: relative;
	background-color: #0d1628;
	gap: 10px;
}
.astrology > div {
	width: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	border: 1px solid #14223d;
	padding: 5px;
	margin-top: 10px;
	gap: 8px;
}
.astrology div img {
	width: 25px;
}
.astrology div:nth-child(4) img,
.astrology div:nth-child(5) img {
	width: 20px;
}
.astrology div p {
	font-size: 13px;
}
/* //////////////////////////////////////// */
.fullDay-weather {
	width: 100%;
	padding: 30px 0px 0px;
	height: 180px;
	background-color: #0d1628;
	position: relative;
}
.fullDay-weather .hourly-weather {
	width: 100%;
	height: 100%;
	padding: 0px 20px 0px;
}
.hourly-weather .hour-container {
	width: 93%;
	height: 140px;
	/* background-color: #14213d; */
	background-color: #284074;
	border: 1px solid #070c16;
	border-radius: 7px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5px;
	gap: 5px;
}
.hourly-h3 {
	top: 0;
}
.hour-container h3 {
	font-size: 15px;
	font-weight: 500;
}
.hour-container h5 {
	font-size: 10px;
	font-weight: 500;
}
/* .hour-container span {
	font-size: 12px;
	font-weight: 500;
	color: rgb(241, 112, 14);
} */
.hour-container p {
	display: flex;
	align-items: center;
	font-size: 12px;
}
.hour-container .hour-icon {
	width: 100%;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.hour-icon img {
	width: 50%;
}
.tempIcon {
	width: 20px;
}
.umbrellaIcon {
	width: 22px;
}
.icontext {
	font-size: 11px;
}
.slick-prev {
	left: 0px !important;
}
.slick-next {
	right: 0px !important;
}
/* //////////////////////////// */
.search-location {
	background-color: #14213d;
	width: 100%;
	height: 60px;
	display: flex;
	align-items: center;
}
.search-location .search-container {
	background-color: #14213d;
	height: 100%;
	margin: 0px auto;
	display: flex;
	align-items: flex-end;
}
.search-container input {
	width: 450px;
	height: 40px;
	display: block;
	border-radius: 4px 0px 0px 4px;
	background-color: #e6eaea;
}
.search-location button {
	height: 40px;
	padding: 5px 10px;
	border-radius: 0px 4px 4px 0px;
	outline: none;
	border: none;
	background-color: blue;
	color: #ece6e7;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}
.search-location img {
	width: 23px;
}
/* ///////////////////////////////////////// */
.weather-container .future-weather {
	width: 40%;
	padding: 40px 10px 10px;
	background-color: #0d1628;
	position: relative;
}
